div#root > div {
  width: 85vw;
  max-width: 1000px;
  margin: auto;
}

header {
  height: auto;
  --mark-back-color: #3761A8;
}

header button {
  text-transform: none;
  --button-border-color: #EF5450;
  --button-back-color: #FECA1B;
  --button-hover-back-color: #F3807C;
  --button-hover-border-color: #3761A8;
}

table:not(.horizontal) {
  max-height: fit-content;
}

table:not(.horizontal) tr {
  --table-body-hover-back-color: #EBF5F0;
  text-align: center;
}

table:not(.horizontal) th, tr td {
  text-align: center;
}
